@font-face {
    font-family: peyda;
    src: url("../../public/fonts/peyda/peyda-regular.woff2") format("woff2");
    font-weight: 300;
}

@font-face {
    font-family: peyda;
    src: url("../../public/fonts/peyda/peyda-medium.woff2") format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: peyda;
    src: url("../../public/fonts/peyda/peyda-bold.woff2") format("woff2");
    font-weight: 700;
}